<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MadLibs!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
</head>
<body>
    <h1>Sick Note</h1>
    <form action="/sicknote" method="post">
        <label for="word1">Silly Word:</label>
        <input type="text" id="word1" name="word1">
        
        <label for="word2">Last Name:</label>
        <input type="text" id="word2" name="word2">
        
        <label for="word3">Illness:</label>
        <input type="text" id="word3" name="word3">
        
        <label for="word4">Noun (plural):</label>
        <input type="text" id="word4" name="word4">
        
        <label for="word5">Adjective:</label>
        <input type="text" name="word5" id="word5">
        
        <label for="word6">Adjective:</label>
        <input type="text" name="word6" id="word6">
        
        <label for="word7">Silly Word:</label>
        <input type="text" name="word7" id="word7">
        
        <label for="word8">Place:</label>
        <input type="text" id="word8" name="word8">
        
        <label for="word9">Number:</label>
        <input type="text" id="word9" name="word9">
        
        <label for="word10">Adjective:</label>
        <input type="text" name="word10" id="word10">

        <button type="submit">Submit</button>
    </form>
</body>
</html>